@charset "UTF-8";

a, a:link {
	text-decoration: none;
	color: inherit;
}
.d-none {
	display: none;
}
.text-bold{
	font-weight: bold;
}
/*===========header===========*/
.head{
	display: flex;
	justify-content: space-between;
	margin-top:20px;
}
.site-logo{
	margin-left:50px;
}
.search{
	margin-top:10px;
}
#keywords {
    outline: none;
    width: 300px;
    height: 60px;
    border-color: #C2ACF4;
    text-indent: 1rem;
    box-sizing: border-box;
    background: none;
}
#search_bt {
    width: 100px;
    height: 60px;
    font-size: 16px;
    background: #C2ACF4;
    color: black;
    border: 0;
}
.top-link{
	display: inline-block;
	margin:20px 20px 0 0;
}
.top-link a{
    height: 42px;
    padding: 0 9px;
}
/*===========article===========*/
.tabs{
	margin-bottom : 50px;
}

.items{
	max-width: 1190px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.items li {
    line-height: 40px;
    height: 40px;
    flex: 200px;
    position: relative;
    padding: .75rem 1rem;
	color:black;
	background: #C2ACF4;
	display:flex;
	align-items: flex-end; 
	column-gap:1rem;
	list-style: none; 
	font-size: 1.5rem;
}
.items li.active{
	background: #9263FC;
	color: black; 
}
.items li a {
	margin: 0 auto;
}
nav {
    background: #C2ACF4;
    margin: 30px 0 0 0;
}
h2 {
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
    color: #000;
    text-align: center;
    margin: 50px 0;
}
.pos-top, .pos-bottom{
	display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 50px;
}
.detail{
	display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 50px;
}
.detail li:nth-child(3){
	display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 50px;
	position: fixed;
}
/* =================== summary ====================== */
	
.reserve-front{
	display:flex;
	width: 1190px;
	height: auto;
	margin: 0 auto;
}
.reserve-summary {
	margin: 20px 0 20px 30px;
}
.reserve-summary::after {
	content: '';
	display: block;
	clear: both;
}
 
.reserve-summary p{
	margin: 20px 0;
}
.summary-title { 
	float: left;
	margin-right: 5%; /* 전체 크기의 5% : 1190 x 0.05 = ??? px */
	margin-top: 20px;
	margin-bottom: 20px;
	width: 15%;
	position: relative;
	font-weight: 800;
}
/* .summary_title::before { 가상요소 선택자 ::before vs ::after
	content: ''; 내용 : 없음
	display: block; 표시 : 블럭요소로
	position: absolute; 절대위치로 지정!
	left: 0;
	top: -3px; 음수값 : 그 방향으로~ 이동시켜
	width: 50px; 가로폭 : 50px
	height: 2px; 높이 : 1px
	background: #000; 검정색 배경
} */
.summary-text {
	float: left;
	width: 80%;	
}
hr {
	height: 1px;
	background: #C2ACF4; 
	margin: 50px 0;

}
.summary-text span {
	color: #9263FC;
}
.avail-title {
	font-weight: bold;
	margin: 10px;
}
.avail-detail {
	width: 200px;
	height: 80px;
	border: 2px solid #C2ACF4;
	text-align: center;
	font-weight : 400;
	font-size: 15px;
	background: white;
	color: #000000;
	border-radius: 10px;
	margin: 0 auto;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button-reserve{
	width: 200px;
	/* height: 30px; */
	border: 0px;
/* 	text-align: center; */
	font-weight:300;
	font-size:18px;
	/* letter-spacing:7px; */
	background: #C2ACF4;
	color: white;
	border-radius: 15px;
	margin:20px;
	padding:15px 0;
}
.button-wrap {
	text-align: center;
}
.reserve {
	border: 2px solid #C2ACF4;
 	padding: 1px 0; 
	border-radius: 15px;
 	position:fixed;
	background: white;
	right: 10%;
	top:25%;
}
.detail-poster{
	text-align: center;

}
#back-to-top {
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -22px;
    background-position: -270px -123px;
    width: 44px;
    height: 44px;
    z-index: 1000;
    float:right;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    background: url(../images/top.png) no-repeat;
}
.announce-wrap{
	padding:50px 600px;
}
h3 {
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
    color: #000;
    text-align: left;
    margin: 50px 0;
}
/* =================== detailed ====================== */












/* =========== google material icon ===============*/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/*===========footer==========*/
.foot-logo {
    
    top: -16px;
    left: 0;
    width: 150px;
    height: 59px;
    background-position: 0 -65px;
    margin: 50px 0 0 50px;
}
.links {
    display: flex;
    justify-content: center;
    column-gap: 70px;
}

.foot-wrap{
	display: flex;
	column-gap: 30px;
}
p{
	text-align: center;
	text-transform: capitalize;
	margin:10px 0;
}
.add{
	margin:30px;
}
